<!-- Dropdow para menu "Projectos" -->
<ul id="dropdownMenu" class="dropdown-content">
  <li>
    <a href="/Libro" class="blue-text">
      <i class="material-icons left">view_list</i>
      Titulos disponibles
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/Libro/add" class="blue-text">
      <i class="material-icons left">add_box</i>
      Registrar libro
    </a>
  </li>
</ul>

<!-- Dropdow para menu "Usuarios" -->
<ul id="user-dropdown-menu" class="dropdown-content">
  {{#unless user}}
  <li>
    <a href="/Usuario" class="blue-text">
      <i class="material-icons left">login</i>
      Ingresar
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/Usuario" class="blue-text">
      <i class="material-icons left">person_add</i>
      Registrarse
    </a>
  </li>
  {{else}}
  <li class="divider"></li>
  <li>
    <a href="/Usuario" class="blue-text">
      <i class="material-icons left">list</i>
      Listar Usuarios
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/Usuario" class="blue-text">
      <i class="material-icons left">logout</i>
      Cerrar sesión
    </a>
  </li>
  {{/unless}}
</ul>

<nav class="blue darken-2">
  <div class="container">
    <div class="nav-wrapper">
      <!-- Barra de navegación completa -->
      <a href="/" class="brand-logo">
        <div class="brand-logo-img">
          <img src="C:\Users\PROFESIONAL\Desktop\prooyec\PROYECTO-FINAL-DWPCII-main\public\imagen\favicon.png" alt="ProjNotes" width="50px">
          Biblioteca
        </div>
      </a>
      <ul id="nav" class="right hide-on-med-and-down">
        <li><a href="/" class="white-text"><i class="material-icons right">home</i>Inicio</a></li>
        <li><a href="/about" class="white-text"><i class="material-icons right">business</i>Acerca De.</a></li>
        <!-- Dropdown Trigger -->
        {{#if user}}
        <li>
          <a class="dropdown-trigger white-text" href="#!" data-target="dropdownMenu">
            Acciones
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </li>
        {{/if}}
        <!-- User Dropdown -->
        <li>
          <a class="dropdown-trigger white-text" href="#!" data-target="user-dropdown-menu">
            Usuario
            <i class="material-icons right">arrow_drop_down</i>
            <i class="material-icons right">people</i>
          </a>
        </li>
      </ul>
      <!-- Barra de navegación Móvil -->
      <a href="#" data-target="nav-mobile" class="sidenav-trigger">
        <i class="material-icons white-text">menu</i>
      </a>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="/" class="blue-text"><i class="material-icons left">home</i>Inicio</a></li>
        {{#unless user}}
        {{else}}
        {{#if user}}
        <li class="divider"></li>
        <li><a href="/books" class="blue-text"><i class="material-icons left">view_list</i>Titulos</a></li>
        <li><a href="/books/add" class="blue-text"><i class="material-icons left">add_box</i>Registrar libro</a></li>
        {{/if}}
        {{/unless}}
        <li class="divider"></li>
        {{#unless user}}
        <li><a href="/users/login" class="blue-text"><i class="material-icons left">login</i>Ingresar</a></li>
        <li><a href="/users/register" class="blue-text"><i class="material-icons left">person_add</i>Registrarse</a></li>
        {{else}}
  <li>
    <a href="/users" class="blue-text">
      <i class="material-icons left">list</i>
      Listar Usuarios
    </a>
  </li>
        <li><a href="/users/logout" class="blue-text"><i class="material-icons left">logout</i>Cerrar Sesión</a></li>
        {{/unless}}
        <li class="divider"></li>
        <li><a href="/about" class="blue-text"><i class="material-icons left">business</i>Acerca De.</a></li>
      </ul>
    </div>
  </div>
</nav>
