<section class="section">
  <div class="container">
    <h1 class="center-align">About ProjNotes</h1>
    <p class="flow-text">
  Bienvenido a nuestra biblioteca virtual, un espacio diseñado para todos los amantes del conocimiento y la exploración. Con una amplia gama de recursos, desde libros digitales hasta audiolibros y artículos académicos, nuestra biblioteca es un tesoro de información al alcance de tus manos.
  
  Sumérgete en el mundo de la literatura, la ciencia, la historia y mucho más. Navega a través de nuestras estanterías virtuales, descubre nuevas historias, aprende de los grandes maestros y encuentra la inspiración que necesitas para tus aventuras intelectuales.

  Nuestra plataforma es intuitiva y amigable, permitiéndote explorar, buscar y acceder a una amplia variedad de recursos con facilidad. Ya seas un ávido lector, un investigador incansable o simplemente estés buscando ampliar tus horizontes, nuestra biblioteca digital está aquí para acompañarte en tu viaje hacia el conocimiento.

  Únete a nuestra comunidad de lectores, comparte recomendaciones, participa en discusiones y amplía tu perspectiva con cada página que explores. Bienvenido a un mundo de descubrimientos, bienvenido a nuestra biblioteca digital.
</p>

    <p class="divider"></p>
    <p style="text-align: center;">App Version: {{ appVersion }}</p>
  </div>
</section>