<div class="row center blue darken-2 white-text" style="margin: 3em; padding: 2em; border-radius: 1em;">
  <h1 class="header center white-text">Bienvenido a la Biblioteca</h1>
  <h3>{{ icon }}</h3>
  <div class="row center">
    <h5 class="header col s12 light grey-text text-lighten-3">
      Explora un mundo de conocimiento y aventura en nuestra biblioteca digital.
    </h5>
  </div>
  <div class="row center">
     <a href="/book/add" id="download-button" class="btn-large waves-effect waves-light white blue-text darken-2">
      Dar de alta un libro
    </a>
  </div>
</div>
